@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Header */

.header-nav {
  margin-bottom: 10px;
}

.nav-wrapper .brand-logo {
  margin: 0 12px;
}

.payments-button {
  margin: 0 16px 5px 0;
}

.credits-item {
  margin: 0 10px;
}

/* Landing */

.landing-wrapper {
  text-align: center;
}

.landing-wrapper .title {
  font-family: 'Ubuntu';
}

.landing-wrapper .content {
  font-size: large;
}

/* Survey */

.survey-wrapper label {
  font-size: large;
}

.survey-wrapper button, .cancel-link {
  vertical-align: middle;
}

.survey-wrapper .next-button {
  padding-left: 18px;
  padding-right: 11px;
}

.survey-wrapper .next-button i {
  margin: 0 auto 0 5px;
}

.survey-wrapper .send-button {
  padding-left: 14.5px;
  padding-right: 9px;
}

.survey-wrapper .send-button i {
  margin: 0 2px 0 8px;
}

.survey-wrapper .back-button {
  padding-left: 11px;
  padding-right: 18px;
}

.survey-wrapper .back-button i {
  margin: 0 4.5px 0 auto;
}

.survey-form .cancel-link {
  border: 1px solid black;
}

/* Survey Field */

.survey-field-wrapper input {
  margin-bottom: 5px;
}

.survey-field-wrapper .error-message {
  margin-bottom: 20px;
  font-style: italic;
}

/* Survey Form Review */

.survey-form-review-wrapper .survey-form-review-value {
  margin-top: 5px;
  margin-bottom: 26px;
  font-size: large;
}

/* Survey List */

.survey-list .card .card-action {
  min-height: 64px;
}

.survey-list .card .card-action .response-container {
  display: inline-flex;
  margin: 5px -10px;
}

.survey-list .card .card-action .response-container > div {
  margin: auto 10px;
}

.survey-list .delete-button {
  border: 1px solid red;
}

.custom-ui .message {
  font-size: 24px;
  margin: 50px auto;
}

.custom-ui button {
  height: 40px;
  width: 80px;
  font-size: medium;
}

.custom-ui .no-button {
  border: 1px solid black;
}
