.header-nav {
  margin-bottom: 10px;
}

.nav-wrapper .brand-logo {
  margin: 0 12px;
}

.payments-button {
  margin: 0 16px 5px 0;
}

.credits-item {
  margin: 0 10px;
}

.landing-wrapper {
  text-align: center;
}

.survey-wrapper .next-button {
  padding-left: 18px;
  padding-right: 11px;
}

.survey-wrapper .next-button i {
  margin: 0 auto 0 5px;
}

.survey-wrapper .back-button {
  padding-left: 11px;
  padding-right: 18px;
}

.survey-wrapper .back-button i {
  margin: 0 5px 0 auto;
}


.survey-wrapper label {
  font-size: 18px;
}

.survey-form .cancel-link {
  border: 1px solid black;
}

.survey-field-wrapper input {
  margin-bottom: 5px;
}

.survey-field-wrapper .error-message {
  margin-bottom: 20px;
  font-style: italic;
}
